h1{
  color:rgb(100,30,255);
}
h2 {
  color:white;
}
h3 {
font-size:9;
}
h4{
  color:blue
}
li {
  color:rgb(255,100,0)
}
p {
  font-family: 'Modak', cursive
}
th {
  color:red

}
table{
  background-color:orange
}
.Golden{
  color:#ffd700;
  font-family: 'Nanum Gothic', sans-serif;
}
#Portfolio{
  font-size:60px;
  color:231, 10, 242;
  font-family: 'Poppins', sans-serif;
}
.right{
  position:absolute; right:300px
}
#school{
  position:absolute; top: 300px;;
}
#schoolwebsite{
  position:absolute; top: 400px;
}
